/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  overflow-x: hidden;
}
*{
  padding: 0;
  margin: 0
}


.chatHide{
  visibility: hidden;
}

.chatBotDiv{
  width:10rem;
height:100rem;
  border-radius: 2rem;
  position: absolute;


}

.chatHead{
  height: 2rem;
  width: 15rem;
  background-color: aliceblue;
}

.chatContent{
  padding: 1rem 2rem;


}

.chatImg{
  border-radius: 50%;
  width: 2rem;
  heigth:2rem;
}

.palet{
  display: flex;
  width: 7rem;
  height: auto;
}

.chatInfo{
  width: 15rem;
  height: max-content;
  padding: 0.5rem;
  font-size: .5rem
}

.chatRes{
height: 3rem;
width: 15rem;
padding: 0.5rem;
background-color: grey
}

.chatInput{
  width:80% ;
  height:90%;
}

/* homePage extends */

.photo{
  width: 18rem;
  height: auto;
  border-radius: 4rem;
}

.photo>img{
  border-radius: 4rem;
}
.photo2{
  position: relative;
  top: 5rem;
}

.photoDiv{
  width: 50%;
  height: 100%;
  gap: 1rem;

  display: flex;
}
.contentDiv{
  width: 50%;
  height: 100%;
}

.infoDiv{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 2rem;
}

.heading{
  font-weight: 800;
  font-size:5rem;
  color: black
}

.contentDiv>ul>li{
  font-size: 2rem;
  font-weight: 400
}

.desc{
  margin: 5rem;

}


.ch{
  border-radius: 2rem;
  background-color: #fff3f3;
  border: none;
  padding: 2rem;
  height: max-content
}

.planDiv{
display: flex;
gap:2rem;
padding: 0 2rem
}

.subHeading{
  font-weight: 800;

}

.chatNav{
width: 100%;
height:4rem;
background-color: #000
}

.chatData{
height: calc(100vh - 10rem);
}

.chatRequest{
  width: 100%;
  height: 6rem;
  background-color: aquamarine
}
@tailwind base;
@tailwind components;
@tailwind utilities;