/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  padding: 0;
  margin: 0
}


.chatHide{
  visibility: hidden;
}

.chatBotDiv{
  width:10rem;
height:100rem;
  border-radius: 2rem;
  position: absolute;


}

.chatHead{
  height: 2rem;
  width: 15rem;
  background-color: aliceblue;
}

.chatContent{
  padding: 1rem 2rem;


}

.chatImg{
  border-radius: 50%;
  width: 2rem;
  heigth:2rem;
}

.palet{
  display: flex;
  width: 7rem;
  height: auto;
}

.chatInfo{
  width: 15rem;
  height: max-content;
  padding: 0.5rem;
  font-size: .5rem
}

.chatRes{
height: 3rem;
width: 15rem;
padding: 0.5rem;
background-color: grey
}

.chatInput{
  width:80% ;
  height:90%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;